{% extends "default.html" %}
{% block content %}

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary" style="height: 100%;">
    <div class="app-wrapper">
        <main class="app-main">
            <div class="d-flex justify-content-start ms-4 mb-4 mt-4">
                <a href="/home" class="btn btn-danger btn-lg">Back</a>
            </div>
            <h1 style="align-self: center">Suppliers' Item</h1>
            <div class="app-content"
                 style="display: flex; justify-content: center; align-items: start; min-height: 100vh;">
                <div class="align-items-start" style="width: 70%;">
                    <div class="card mb-xxl-5">
                        <div class="card-header">
                            <h3 class="card-title">Suppliers' Item List</h3>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Supplier Id</th>
                                    <th>Item Id</th>
                                    <th>Price</th>
                                    <th>Buy</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in items %}
                                    <tr class="align-middle">
                                        <td>{{ i[0] }}</td>
                                        <td>{{ i[1] }}</td>
                                        <td>{{ i[2] }}</td>
                                        <td>{{ i[3] }}</td>
                                        <td>
                                            <button class="btn btn-outline-success pay-btn" onclick="window.location.href='{{ url_for('buy_item_from_suppliers',  supp_item_id=i[0]) }}'" data-item-id="{{ i[0] }}">Buy</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </body>

{% endblock %}