{% extends "default.html" %}
{% block content %}

    <body class="layout-fixed sidebar-expand-lg bg-body-tertiary" style="overflow: hidden; height: 100%;">

    <div class="app-wrapper">
        <main class="app-main">
            <div class="app-content"
                 style="display: flex; justify-content: center; align-items: start; min-height: 100vh;">
                <div class="align-items-start">
                    <div class="card card-info card-outline mb-5 d-flex"> <!--begin::Header-->
                        <div class="card-header">
                            <div class="card-title">Customer</div>
                        </div> <!--end::Header--> <!--begin::Form-->
                       
                        <form class="needs-validation" novalidate=""> <!--begin::Body-->
                            <div class="card-body"> <!--begin::Row-->
                                <div class="row g-3"> <!--begin::Col-->
                                    <div class="col-md-6">
                                        <label for="validationCustom01" class="form-label">First name</label>
                                        <input
                                                type="text" class="form-control" id="validationCustom01" value=""
                                                required="">
                                        <div class="valid-feedback">Looks good!</div>
                                    </div> <!--end::Col--> <!--begin::Col-->
                                    <div class="col-md-6">
                                        <label for="validationCustom02" class="form-label">Last name</label>
                                        <input
                                                type="text" class="form-control" id="validationCustom02" value=""
                                                required="">
                                        <div class="valid-feedback">Looks good!</div>
                                    </div> <!--end::Col--> <!--begin::Col-->
                                    <div class="col-md-6">
                                        <label for="validationCustomUsername" class="form-label">Address</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                            <input type="text" class="form-control" id="validationCustomUsername"
                                                   aria-describedby="inputGroupPrepend" required="">
                                            <div class="invalid-feedback">Please choose an address.</div>
                                        </div>
                                    </div> <!--end::Col--> <!--begin::Col-->
                                    <div class="col-md-6">
                                        <label for="validationCustom03" class="form-label">Phone Number</label>
                                        <input type="text" class="form-control" id="validationCustom03" required="">
                                        <div class="invalid-feedback">Please provide a valid phone number.</div>
                                    </div> <!--end::Col--> <!--begin::Col-->
                                    <div class="col-md-6">
                                        <label for="validationCustom04" class="form-label">Email</label>
                                        <input type="text" class="form-control" id="validationCustom04" required="">
                                        <div class="invalid-feedback">Please select a valid email.</div>
                                    </div> <!--end::Col--> <!--begin::Col-->
                                    <div class="col-md-6">
                                        <label for="validationCustom05" class="form-label">Image</label>
                                        <input type="file" class="form-control" id="validationCustom05" required="">
                                        <div class="invalid-feedback">Please provide a valid image.</div>
                                    </div> <!--end::Col--> <!--begin::Col-->
                                </div> <!--end::Row-->
                            </div> <!--end::Body--> <!--begin::Footer-->
                            <div class="card-footer">
                                <button class="btn btn-info" type="submit">Submit form</button>
                            </div> <!--end::Footer-->
                           
                        </form> <!--end::Form--> <!--begin::JavaScript-->
                        <div class="card-footer">
                            <a href="/home" class="btn btn-danger">Geri</a>
                        </div>
                        <script>
                            (() => {
                                "use strict";

                                const forms = document.querySelectorAll(".needs-validation");

                                Array.from(forms).forEach((form) => {
                                    form.addEventListener(
                                        "submit",
                                        (event) => {
                                            if (!form.checkValidity()) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            form.classList.add("was-validated");
                                        },
                                        false
                                    );
                                });
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </main>
    </div>
    </body>


{% endblock %}